.cart-container {
  padding: 20px;
  width: 75%;
  max-width: 1000px;
  height: auto; /* Allow height to adjust based on content */
  margin: 50px auto;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.background {
  background-color: #96b6ef;
  min-height: 100vh; /* Ensure the background covers the full viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  position: relative;
}

.cart-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
  object-fit: cover;
}

.cart-item-details {
  flex: 1;
}

.cart-item-details h4 {
  margin: 0 0 5px;
  font-size: 1.2em;
  color: #333;
}

.cart-item-details p {
  margin: 5px 0;
  color: #666;
}

.cart-item button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
}

.cart-item button:hover {
  background-color: #c0392b;
}

.cart-total {
  margin-top: 20px;
  text-align: center;
  color: #333;
  background-color: #e9f7ef;
  border-radius: 5px;
  border: 1px solid #b2ebf2;
}

.checkout-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px auto;
  align-content: center;
}

.checkout-button:hover {
  background-color: #218838; /* Darker green on hover */
}

